html {
    scroll-behavior: smooth;
}

.custom-fixed-position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

#anchor_1,
#anchor_2,
#anchor_3,
#anchor_4 {
    display: block;
    position: relative;
    top: -10vh;
    visibility: hidden;
}

i {
    color: #029696;
}

i:hover {
    color: #029696;
    opacity: 50%;
}

h1 {
color: white !important;
}

h5 {
    text-align: center;
}

a {
    text-decoration: none;
}

.card-text {
    text-align: center;
}

.card:hover {
opacity: 80%;
}

.navbar {
    background-color: #029696 !important;
    height: 10vh;
    z-index: 10;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
    opacity: 50%;
}

.jumbotron {
    background-color: #4dbcbc;
    margin-top: 10vh;
}

footer {
    background-color: #4dbcbc;
}
